.MultiSpecialists {
  margin-top: 100px;
}

.specialists_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialists_inner-left {
  max-width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.specialists_subtitle {
  text-decoration: underline;
  text-decoration-color: #ffe381;
  font-weight: 400;
}

.specialists_subtitle span {
  font-weight: 700;
  font-style: italic;
}

.specialists_title {
  max-width: 400px;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.specialists_link {
  color: rgba(34, 34, 34, 0.6);
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.6);
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.specialists_link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s;
}

.specialistslink:hover {
  color: black;
  width: 100%;
  transition: width 0.3s;
}

.specialists_link:hover::before {
  width: 100%;
  transition: width 0.3s;
}

.specialists_img {
  background-color: bisque;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 50%;
  flex-basis: 50%;
}
