.Menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.menu_inner {
  display: flex;
  gap: 30px;
}

.menu_link span {
  font-weight: bold;
  font-style: italic;
}

.menu_nav {
  display: flex;
  gap: 30px;
}

.menu_nav-item {
  cursor: pointer;
}
