.OurProfession {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.profession_img {
  background-color: #fdd995;
  max-width: 50%;
  flex-basis: 50%;
}

.profession_inner {
  margin: 0 auto;
  max-width: 400px;
}

.profession_subtitle {
  text-decoration: underline;
  text-decoration-color: #ffe381;
  font-weight: 400;
}

.profession_subtitle span {
  font-weight: 700;
  font-style: italic;
}

.profession_title {
  margin: 20px 0;
  font-size: 35px;
}

.profession_text {
  margin-bottom: 50px;
}

.profession_link {
  color: rgba(34, 34, 34, 0.6);
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.6);
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.profession_link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px; 
  bottom: 0;
  left: 0;
  background-color: black; 
  transition: width 0.3s;
}

.profession_link:hover {
  color: black;
  width: 100%; 
  transition: width 0.3s; 
}

.profession_link:hover::before {
  width: 100%; 
  transition: width 0.3s; 
}
