*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  /* font-size: 1.6rem;
  line-height: 1.5; */
  font-size: 14px;
  color: #222;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
span {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 10px;
}
